	<div id="header">
  	</div>

  	<div class="container">

	  	<div class="col-sm-12" id="title"> {{title}} </div>
	  	<div class="col-sm-3" id="publisher"> {{publisher}} </div>
	  	<div class="col-sm-3" id="authors"> {{authors}} </div>
	  	<div class="col-sm-3" id="date"> {{date}} </div>
	  	<div class="col-sm-3" id="articleUrl"> {{url}} </div>
	  	<button id='highlightButton' type='button'>Highlight</button>
	  	<div class="col-sm-12" id="content"> {{content}} </div>

  	</div> <!-- end container -->